<h1>Students for <%= @student_container.uniqueSectionCode %> </h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student.name.lastSurname %></td>
      </tr>
  <% end %>
</table>

<br />
<%=  debug @students %>
