table, tr {
  width:  100%;
}
// zebra striping
table tbody tr:nth-child(2n+2) td {
  background-color: #EBF5FF;
}
th {
  border-bottom:  solid black 1px;
  background-color: black;
  color:  white;
}

tr.data td {
  border:  dotted lightgray 1px;
  line-height: 30px;
}

// sparklines does not play well with Percentage width
th.average_score, td.average_score {
  min-width: 100px;
  width: 260px;
}

th.trends, td.trends {
  min-width: 70px;
  width:  90px;
}

.overall {
  font-size:  1.2em;
  font-weight: bold;
  border: solid black 2px;
}

td {
  padding: 6px;
}
