table tbody tr:nth-child(2n+2) td {
  background-color: #EBF5FF;
}
th {
  border-bottom:  solid black 1px;
  background-color: black;
  color:  white;
}

tr.data td {
  border:  dotted lightgray 1px;
}

td.average_score, td.trends {
  line-height: 30px;
}

.overall {
  font-size:  1.2em;
  font-weight: bold;
  border: solid black 2px;
}

td {
  padding: 6px;
}
